/* Stylesheet */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
header, main, footer {
    text-align: center;
}
.form h2 {
    text-align: right;
    margin-right: 50px;
    color: #ffffffee;
    font-size: 18px;
}
main h2 span {
    color: #ff4f4f
}
.blood {
    font-weight: bold;
    font-size: 12px;
    color: #FF4F4F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blood::before {
    content: "";
    background-color: #ff4f4f11;
    width: 40px;
    height: 40px;
    position: absolute;

    /*! Drop */
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}
section.donors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.donor p {
    margin-top: 24px;
    font-size: 14px;
}
div.donor {
    margin: 10px
}
section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}
form input, form button {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px; /*! top & bottom left & right  */
    border-radius: 4px;
    border: 1px #ffffff88 solid;
}
form input {
    background-color: transparent;
}
form input::placeholder{
    color: #ffffffaa;
}
form input:hover {
    background: rgba(164, 11, 11, 0.4);
}
form button {
    font-weight: bold;
}
header, .form, main {
    margin-bottom: 70px;
    /*! Limits */
    width: 70%;
    max-width: 500px;
    /* Align */
    margin-left: auto;
    margin-right: auto;
}

header button {
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: #fff;
    font-weight: bold;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.o {
    background-color: #ff4f4f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
    margin: 2px;
}
div.shine {
    position: absolute;
    top: 13px;
    left: -2px;
    width: 15px;
    height: 5px;
    border-bottom: 5px solid #fff;
    border-radius: 50%;
    transform: rotate(90deg);
}
/*.logo {
    width: 120px;
    margin: 70px 0;
}*/
header p {
    font-size: 14px;
}
header h1, main h2 {
    margin-bottom: 70px;
}
h1, h2 {
    color: #000000cc;
}
footer {
    margin-top: auto;
    padding: 16px;
    border-top: 1px solid #eee;
}
